.edit-personal-container,
.edit-education-container,
.edit-work-container {
  background: white;
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 0 0 15px 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.099);
}

.personal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 100%;
}

input,
label {
  display: block;
}

label,
h3 {
  font-size: 0.9rem;
  font-weight: bold;
}

.personal-container {
  display: flex;
  flex-direction: column;
}

.personal-container button {
  align-self: center;
}

.personal-container > div > p {
  font-size: 0.8rem;
  padding: 10px 5px;
}

input {
  padding: 5px;
  width: 100%;
  margin: 5px 0 10px 0;
  border: none;
  background: rgb(233, 232, 232);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.7rem;
}
