.resume-container {
  flex: 1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.099);
  background: white;
  display: flex;
  flex-direction: column;
}

.resume-personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.resume-personal > h1 {
  font-size: 2rem;
  font-weight: bold;
}

.resume-personal > span {
  padding: 5px;
  font-size: 0.8rem;
}

hr {
  height: 1px;
  background: black;
  width: 96%;
}

.resume-education {
  margin: 0 50px;
  padding: 10px 0;
  display: grid;
  grid-template-rows: repeat(2, 25px);
  grid-template-columns: 150px 1fr;
}

.resume-education > span:first-child {
  grid-row: span 2;
}

.resume-education > span:nth-child(2) {
  font-weight: bold;
}

.resume-work {
  margin: 0 50px;
  padding: 10px 0;
  display: grid;
  grid-template-rows: repeat(3, 25px);
  grid-template-columns: 150px 1fr;
}

.resume-work > span:first-child {
  grid-row: span 3;
}

.resume-work > span:nth-child(2) {
  font-weight: bold;
}
